.container{
    text-align: center;
}
table{
    margin:auto;
    background-color: aqua;
    border-radius: 25px;
}
input{
    font-size:25px;
    border: 2px solid black;
    border-radius: 80px;
}
button{
    background-color: antiquewhite;
   font-size: 25px;
    width: 75px;
    height: 45px;
    border-radius: 80px;
}